/* forget login information area display */

.forget-login-area {
    text-align: right;
}

.forget-login-area .sub-header, .forget-login-area .header {
    font-size: 18px;
    color: #737386;
    text-transform: uppercase;
    text-align: left;
}

.forget-login-area .sub-header {
    font-size: 11px;
    color: #cdcdd8;
    line-height: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.forget-login-area .input-area {
    padding: 0px 0px 5px 0px;
}

.forget-login-area .input-area .el-input__prefix {
    font-size: 16px;
    top: 2px;
    left: 10px;
}

.forget-login-area .input-area .el-input--prefix .el-input__inner {
    padding-left: 40px;
    padding-right: 40px;
}

.forget-login-area .send-btn {
    transition: all .4s ease;
    text-transform: capitalize;
    background: #5ac9ca;
    color: #fff;
    border: 1px solid #53aeaf;
    margin-top: 5px;
}

.forget-login-area .send-btn:hover {
    background: #53aeaf;
}

/* forget login information area display */

/* forget login error input display */

.forget-login-area .error-input-area {
    text-align: left;
}

.forget-login-area .error-input-area .el-input--prefix .el-input__inner {
    border-color: #f36161;
    color: #f36161;
}

.forget-login-area .error-input-area .error-message {
    margin-top: 5px;
font-size: 11px;
}

.forget-login-area .error-input-area .error-message, .forget-login-area .error-input-area .el-input--prefix i {
    color: #f36161;
    text-transform: capitalize;
}

.forget-login-area .error-input-area .el-input__suffix {
    font-size: 16px;
    top: 2px;
    right: 10px;
}

/* forget login error input display */
