@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px !important;
    color: #4a4a4a !important;
}

body, table, textarea, button, input, .chart-legend {
    font-family: "Roboto", Helvetica, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif !important;
}

::placeholder {
    color: #BBB !important;
}

textarea:focus, input:focus, button:focus {
    outline: none !important;
}

input {
    border-radius: 4px;
}

input:focus {
    background-color: #FAFAFA !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none !important;
}

a {
    color: #3a8fc8 !important;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #48b0f7 !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}
