@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500|Righteous');
body {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px !important;
    color: #4a4a4a !important;
}

body, table, textarea, button, input, .chart-legend {
    font-family: 'Quicksand', "Roboto", Helvetica, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif !important;
}

::placeholder {
    color: #BBB !important;
}

textarea:focus, input:focus, button:focus {
    outline: none !important;
}

input {
    border-radius: 4px;
}

input:focus {
    background-color: #FAFAFA !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none !important;
}

a {
    color: #3a8fc8 !important;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #48b0f7 !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* modal common style */

.basic-modal .v--modal-box {
    border-radius: 4px;
    padding: 17px 35px 15px 35px;
    top: 120px !important;
}

.close-modal-button {
    transition: all .4s ease;
    float: right;
    margin: -5px -25px 0 0;
    border: 0px;
    background: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
}

.close-modal-button:hover {
    color: #7a7a7a;
}

/* modal common style */

/* notify common style */

.el-message__content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-transform: capitalize;
}

/* notify common style */
